<%provide(:title, "Главная")%>
<h1 class="h1 text-center">Добро пожаловать на сайт MyBooks</h1>
<p class="lead text-center">
    На нашем сайте вы найжете множество книг, которые придутся вам по вкусу.
    Если вы еще не зарегистрировались, пожалуйста, перейдите по ссылке <%=link_to 'Зарегистрироваться',signup_url%>.
</p>
<p class="lead text-center">
    Если вы уже зарегистрированы на сайте, вы можете войти на сайт, перейдя по ссылке <%=link_to 'Войти', signin_path%>.
</p>