<%provide(:title, "Главная")%>
<h1 class="h1 text-center">Добро пожаловать на сайт MyBooks</h1>
<p class="lead text-center">
    На нашем сайте вы найжете множество книг, которые придутся вам по вкусу.
    <%if !user_signed_in?%>
        Если вы еще не зарегистрировались, пожалуйста, перейдите по ссылке <%=link_to 'Зарегистрироваться',new_user_registration_path%>.
    <%end%>
</p>
<%if !user_signed_in?%>
    <p class="lead text-center">
        Если вы уже зарегистрированы на сайте, вы можете войти на сайт, перейдя по ссылке <%=link_to 'Войти', new_user_session_path%>.
    </p>
<%end%>