<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"> 
            <%= image_tag @user.avatar.thumb.url, id:"avatar_field"%>
        </div>
        <div class="col-md-6" id="user_info">
            <h2> Фамилия: <%= @user.second_name%></p>
            <h2> Имя: <%= @user.name%></p>
            <h2> Отчество: <%= @user.middle_name%></p>
        </div>
    </div>
    <div class="row text-center">
        <h2>Любимые книги</h2>
        <div class="col-md-3">

        </div>
        <div class="col-md-6" id="favourite_book_field">
            
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>