<div class="book_item" id="book-<%=book.id%>"> 
    <div class="image_part"><%= image_tag book.book_cover.url%></div>
    <div class="text_path"><%=link_to "#{book.author.second_name} #{book.author.name[0]}. #{book.author.middle_name[0]}. - #{book.name}", book_url(book.id)%></div>
    
</div>