// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comment_body
{
    background-color:gray;
    padding: 5px;
    border-radius: 5px;
    margin:5px;
}