// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#avatar_field
{
    border:3px solid green;
    border-radius: 3px;
}
#user_info
{
    border:3px solid green;
    border-radius: 3px;
    background-color: green;
}