<p>Здравствуйте, <%= @email %>!</p>

<p>Чтобы активировать свой аккаунт, перейдите по ссылке ниже:</p>

<p><%= link_to 'Подтвердить аккаунт', confirmation_url(@resource, confirmation_token: @token) %></p>
