<p>Здравствуйте, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Мы связались с вами, чтобы уведомить о том, что ваш аккаунт изменяется на <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Мы связались с вами, чтобы уведомить о том, что ваш аккаунт изменился на  <%= @resource.email %>.</p>
<% end %>
