<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то запросил смену вашего пароля. Вы можете сделать это перейдя по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы этого не делали, игнорируйте это письмо.</p>
<p>Пароль не будет изменен, пока вы не перейдете по ссылке и не зададите новый.</p>
