<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left" id="wrapper">
				<div class="col-xs-12 col-sm-4 col-md-4" id="links">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="<%= root_url%>"><i class="fa fa-angle-double-right"></i>Главная</a></li>
						<li><a href="<%= catalog_url%>"><i class="fa fa-angle-double-right"></i>Каталог</a></li>
					</ul>
				</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>National Transaction Corporation is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
					<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
				</div>
				</hr>
			</div>	
		</div>
	</section>